body { 
    margin: 0; /* Remove the default margin */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#image-row { 
    /* Use flexbox to arrange the images in a row */
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 40px;
}

img { 
    /* Prevent images from exceeding the width of their parent */
    max-width: 100%;
    height: auto;
}


#img-A {
    filter: blur(15px);
}

#img-A:hover{
    filter: none;
    transition: all 2s ease-out;
}

.crop-container{
    overflow: hidden;
}

#img-B {
    filter: drop-shadow(16px 16px 20px orange);
}

#img-B:hover{
    filter: none;
    transition: all 2s ease-out;
}

#img-C{
    filter: brightness(0.5);
}

#img-C:hover{
    filter: none;
    transition: all 2s ease-out;
}

#click-me {
    /* Centre the button */
    display: block;
    margin: auto;

    /* Style the button to look nice */
    background-color: black;
    color: white;
    border: none;
    padding: 10px;

    font-size: 2em;
    font-weight: bold;

    box-shadow: 6px 4px 2px red;
}
